/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {


}

@media (min-width: 992px) {
  .show>.dropdown-menu {
	  left: 50%;
	  transform: translateX(-50%);
	}
}
.navbar .navbar-nav li .dropdown-menu a:focus 
{
      color: #ffffff !important;
      background-color: #d41602;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
}
.bg-gradient-light
{
	
	background: url(../images/grunge_texture.jpg) no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.farm-wrapper
{
	background: url(../images/body-bg.jpg) no-repeat top center; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.hero-bg
{
	background: no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.promotions-bg
{
	background-image:url(../images/promotions.jpg);
}
.services-bg
{
	background-image:url(../images/services.jpg);
}
.map-hours-bg
{
	background-image:url(../images/map-hours.jpg);
}
.about-bg
{
	background-image:url(../images/about-us.jpg);
}
.contact-bg
{
	background-image:url(../images/contact.jpg);
}
.bobcat-bg
{
	background-image:url(../images/bobcat.jpg);
}
.echo-bg
{
	background-image:url(../images/echo.jpg);
}
.jonsered-bg
{
	background-image:url(../images/jonsered.jpg);
}
.columbia-bg
{
	background-image:url(../images/columbia.jpg);
}
.briggs-stratton-bg
{
	background-image:url(../images/farm.jpg);
}
.kohler-bg
{
	background-image:url(../images/plow.jpg);
}
.honda-bg
{
	background-image:url(../images/honda.jpg);
}
.kawasaki-bg
{
	background-image:url(../images/rows.jpg);
}
.text-shadow-lg
{
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 2rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 27rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}